about_dlg.xml
board.xml
btinviter_item.xml
btinviter.xml
chat_history_local.xml
chat_history_remote.xml
chat.xml
color_display.xml
color_edit.xml
confirm_sms.xml
dflt_name.xml
dict_browser.xml
dict_browse.xml
divider_view.xml
force_remote.xml
game_config.xml
game_list_item.xml
game_list_tmp.xml
game_list.xml
import_dict.xml
list_item.xml
lookup.xml
new_game.xml
passwd_view.xml
player_edit.xml
player_list_elem.xml
prefs_w_buttons.xml
relay_game_config.xml
rename_game.xml
smsinviter_item.xml
smsinviter.xml
