/clear_all.svg
/search.svg
/select_all.svg
back.svg
content_copy.svg
content_discard.svg
content_new.svg
dict.svg
down.svg
download.svg
email.svg
new_group.svg
prefs.svg
relabel.svg
reset.svg
save.svg
send.svg
up.svg
clear_all.svg
search.svg
select_all.svg
