<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.eehouse.android.xw4"
          >
  <!-- GooglePlay version no longer allowed to have these (after 9 March 2019) -->
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>
