/LocItemEditActivity.java
/LocItemEditDelegate.java
LocActivity.java
LocDelegate.java
LocIDs.java
LocIDsData.java
LocListAdapter.java
LocListItem.java
LocSearcher.java
LocUtils.java
XlatingSpinnerAdapter.java
LocItemEditActivity.java
LocItemEditDelegate.java
