dicticon.png
downarrow.png
expander_ic_maximized.9.png
expander_ic_minimized.9.png
flip.png
icon48x48.png
ic_popup_sync_1.png
netarrow_allconn.png
netarrow_someconn.png
netarrow_unconn.png
next_hint.png
origin.png
prev_hint.png
refresh.png
relaygame.png
rightarrow.png
shuffle.png
sologame.png
stat_notify_chat.png
stat_notify_sync.png
undo.png
values.png
zoom.png
bluetooth_active.png
bluetooth_disabled.png
