.DS_Store
.gradle
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/libs-debug
/libs-release
/local.properties
*.apk
ant_out.txt
local.properties
bin
gen
libs
proguard.cfg
obj
res/drawable*/*gen.png
