<?xml version="1.0" encoding="utf-8"?>
<!-- -*- compile-command: "ant install"; -*- -->
<!-- Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!-- Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.eehouse.android.xw4"
          android:versionCode="84"
          android:versionName="@string/app_version"
          >

  <!-- BE SURE TO MODIFY project.project AND the variable TARGET in
       ../scripts/setup_local_props.sh if targetSdkVersion changes!!!
       -->
  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

  <supports-screens android:resizeable="true"
                    android:smallScreens="true"
                    android:normalScreens="true"
                    android:largeScreens="true"
                    android:xlargeScreens="true"
                    />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" /> 
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <uses-feature android:name="android.hardware.telephony"
                android:required = "false"
                /> 
  <uses-feature android:name="android.hardware.nfc" android:required="false" />

  <!-- GCM stuff -->
  <permission android:name="org.eehouse.android.xw4.permission.C2D_MESSAGE" 
              android:protectionLevel="signature" />
  <uses-permission android:name="org.eehouse.android.xw4.permission.C2D_MESSAGE" /> 
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.NFC" />

  <application android:icon="@drawable/icon48x48"
               android:label="@string/app_name"
               android:name=".XWApp"
               >

    <activity android:name="GamesListActivity" 
              android:label="@string/app_name"
              android:launchMode="standard"
              android:configChanges="keyboardHidden|orientation|screenSize"
              >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.nfc.action.NDEF_DISCOVERED" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="@string/xwords_nfc_mime" />
      </intent-filter>

    </activity>

    <activity android:name="DictsActivity"
              android:label="@string/title_dicts_list"
              android:configChanges="keyboardHidden|orientation|screenSize"
          />
    
    <activity android:name="BTInviteActivity"
			  android:label="@string/bt_invite_title"
              android:theme="@android:style/Theme.Dialog"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />
    <activity android:name="SMSInviteActivity"
			  android:label="@string/sms_invite_title"
              android:theme="@android:style/Theme.Dialog"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:screenOrientation="sensor"
              />

    <activity android:name="GameConfigActivity"
              android:screenOrientation="sensor"
              android:configChanges="keyboardHidden|orientation|screenSize"
              >
      <intent-filter>
        <action android:name="android.intent.action.EDIT" />
      </intent-filter>
    </activity>

    <activity android:name="PrefsActivity"
              android:label="@string/title_prefs"
              android:screenOrientation="sensor"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />

    <activity android:name="BoardActivity"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
              />

    <activity android:name="StudyListActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />

    <receiver android:name="OnBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
    <receiver android:name="RelayReceiver"/>
    <receiver android:name="NagTurnReceiver"/>

    <receiver android:name="UpdateCheckReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <activity android:name="DispatchNotify">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="newxwgame"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http"
              android:host="@string/invite_host"
              android:pathPrefix="@string/invite_prefix"
              />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="@string/invite_mime" />
      </intent-filter>
    </activity>

    <!-- downloading dicts -->
    <activity android:name=".DwnldActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.Dialog"
              android:configChanges="keyboardHidden|orientation|screenSize"
              >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
        <category android:name="android.intent.category.BROWSABLE"></category>
        <data android:scheme="file" android:host="*" 
              android:pathPattern=".*\\.xwd" />
        <data android:scheme="http"
              android:mimeType="application/x-xwordsdict"
              android:host="*" 
              android:pathPattern=".*\\.xwd" />
      </intent-filter> 
    </activity>

    <activity android:name="DictBrowseActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />
    <activity android:name="ChatActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />
    <activity android:name=".loc.LocActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />
    <activity android:name=".loc.LocItemEditActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              />

    <service android:name="RelayService"/>

    <receiver android:name=".MountEventReceiver">
        <intent-filter>
            <action android:name="android.intent.action.MEDIA_MOUNTED" />
            <data android:scheme="file" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.MEDIA_EJECT" />
            <data android:scheme="file" />
        </intent-filter>
    </receiver>

    <receiver android:name="BTReceiver">
      <intent-filter>
        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
      </intent-filter>
    </receiver>

    <service android:name="BTService"/>

    <receiver android:name="SMSReceiver" >
      <intent-filter android:priority="999" >
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.DATA_SMS_RECEIVED" /> 
        <data android:scheme="sms" /> 
        <data android:port="3344" /> 
        <data android:host="*" /> 
      </intent-filter> 

    </receiver>

    <service android:name="SMSService"/>

    <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" 
              android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="org.eehouse.android.xw4" />
      </intent-filter>
    </receiver>

    <service android:name=".GCMIntentService" />

  </application>
</manifest>
